*{
padding: 0;
margin: 0;
border:none;
outline: none;
box-sizing: border-box;
}
body{
    background: #efefef;
    color: #000;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    box-shadow:  0 0 1rem 1rem rgba(0,0,0,0.1);
    border-radius:1rem;
    background: #fff;
}
/*-----------visa card header------------*/
.main-visa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.main-visa .visa-logo img{
width: 80px;
height: 60px;
}
.main-visa .visa-text h2{
text-align: center;
font-size: 1.5rem;
font-weight: 700;
margin-top: 1rem;
}
.main-visa .visa-text input{
    color: #626262;
text-align: center;
    background: none;
    border: none;
    outline: none;
    font-size: 1.3rem;
    width: 100px;
}

.main-visa .visa-logo-1 img{
    width: 80px;
    height: 60px;
    }

/************visa card second heading*********/
.visa-second-header{
    padding-left: 1.3rem;
    display: flex;
    align-items: center;
}
.visa-second-header img{
    width: 100px;
    height: 70px;
}
.visa-second-header h3{
    text-align: center;
    font-size: 1.3rem;
    color: rgb(81, 78, 78);
    font-weight: 700;
   
}
.visa-second-header span{
    font-size: 15px;
    color: #626262;
}
/************visa card third heading*********/
.visa-third-header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.5rem 1.2rem;
}
.visa-title{
    color: orange;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 1rem;
}
.logo1{
    height: 50px;
    width: 50px;
    background: linear-gradient(rgba(0,0,0,0.1), blue);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.logo1::after{
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    background: linear-gradient(rgba(0,0,0,0.1), orange);
    top: 0;
    left: -20px;
    border-radius: 50%;
    z-index: 2;
}



